[tool.poetry]
name = "vivintpy"
version = "0.0.0"
description = "Python library for interacting with a Vivint security and smart home system."
authors = ["Nathan Spencer <natekspencer@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/natekspencer/vivintpy"
repository = "https://github.com/natekspencer/vivintpy"
keywords = ["Vivint", "alarm system", "security", "smart home", "home automation", "asynchronous"]

[tool.poetry.dependencies]
python = "^3.8.1"
aiohttp = "^3.8.4"
certifi = "^2022.9.24"
pubnub = "^7.0"
grpcio = "^1.51.1"
protobuf = "^4.23.1"

[tool.poetry.group.dev.dependencies]
tox = "^3.28.0"
pytest = "^7.2.2"
pytest-asyncio = "^0.21.0"
pytest-cov = "^4.0.0"
pytest-timeout = "^2.1.0"
black = "^23.3.0"
flake8 = "^5.0.4"
isort = "^5.11.5"
mypy = "^1.4"
pydocstyle = "^6.3.0"
pylint = "^2.17.4"
grpcio-tools = "1.51.1"

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"
pattern = "default-unprefixed"

[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"
