[tool.poetry]
name = "vivintpy"
version = "2022.12.0"
description = "Python library for interacting with a Vivint security and smart home system."
authors = ["Nathan Spencer <natekspencer@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/natekspencer/vivintpy"
repository = "https://github.com/natekspencer/vivintpy"
keywords = ["Vivint", "alarm system", "security", "smart home", "home automation", "asynchronous"]

[tool.poetry.dependencies]
python = "^3.7.2"
aiohttp = "^3.8.1"
certifi = "^2022.9.24"
pubnub = "^7.0"

[tool.poetry.dev-dependencies]
tox = "^3.27.1"
pytest = "^7.2.0"
pytest-asyncio = "^0.20.2"
pytest-cov = "^4.0.0"
pytest-timeout = "^2.1.0"
black = "^22.10.0"
flake8 = "^5.0.4"
isort = "^5.10.1"
mypy = "^0.991"
pydocstyle = "^6.1.1"
pylint = "^2.15.8"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
